.custom-shadow {
    border-radius: 10px;
    border: none;
    padding: 60px;
    background-color: $color-white;
    -webkit-box-shadow: 0px 0px 19px 7px rgba(171,166,171,1);
    -moz-box-shadow: 0px 0px 19px 7px rgba(171,166,171,1);
    box-shadow: 0px 0px 19px 7px rgba(171,166,171,1);
 } 

 .contact {
    padding-bottom:  $section-padding-bottom
 }

 .contact {
     .heading-one{
         margin-top: 20px;
         padding-top: $section-padding-top
     }
 }

.header-img{
    img{
        margin-top: 40px;
    }
}