.header{
    padding-bottom: 170px;
    .contact-heading{
        color: $color-blue;
        font-weight: bold;
        font-size: $heading-one-font-size;
    } 
    .contant-paragraph{
        color:$color-black;
        font-size: $paragraph-five-font-size;
        font-weight: 500;
    }
}
.contact-main{
    background-color: $color-blue;
    .contact-form{
        padding-top: $section-padding-top;
        padding-bottom: $section-padding-bottom;
        .container{
            margin-top: -200px;
            .form-left-side{
                background-color: $color-black-2;
                padding: 50px;
                h2{
                    padding-bottom: 60px;
                }
                p{
                    font-size: 14px;
                    font-weight: 500;
                    color: $color-white
                }
            }

            .form-right-side{
                background-color:$color-white;
                padding: 50px;
            }
        }
    }
}