.header{
    padding-bottom: 250px;
    .contact-heading{
        color: $color-blue;
        font-weight: bold;
        font-size: $heading-one-font-size;
    } 
    .contant-paragraph{
        color:$color-black;
        font-size: $paragraph-five-font-size;
        font-weight: 500;
    }
}
.contact-main{
    background-color: $color-blue;

    .social-media{
        padding-top: $section-padding-top;
        padding-bottom: $section-padding-bottom;

        li{
            list-style: none;
        }
        .icons{
            padding-top: 20px;
            span{
                margin: 20px;
                font-size: 40px;
                img{
                    width: 20px;
                    height: 20px;
            }
        }
    }
}