
.header{
    .curly-img{
        background-color: $color-blue;
        padding-top: 0px;
        padding-bottom: 0px;
        img{
            height: 50px;
        }
    }
    .heading-one{
        padding-top: $section-padding-top;
        margin-bottom: 50px;
    }

    .heading-img{
        padding-top: 30px;
    }
    a:hover{
        text-decoration: none;
        opacity: 0.8;
        color: $color-black;
    }
}

.main{
    .services{
        background-color: $color-blue;
        padding-top: $section-padding-top;
        margin-top: -10px;
        padding-bottom: $section-padding-bottom
    }
    .create-solution{
        background-color: $color-blue;
        padding-top: $section-padding-top;
        margin-top: -10px;
        padding-bottom: $section-padding-bottom
    }
    .projects{
        background-color: $color-blue;
        padding-top: $section-padding-top;
        margin-top: -10px;
        padding-bottom: $section-padding-bottom
    }
    .card {
        border-radius: 15px;
      }
      a:hover{
        text-decoration: none;
        opacity: 0.8;
        color: $color-black;
    }
}



