.btn-footer{
    background-color: $color-blue;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: $color-white;
}

.btn-get-started{
    color: $color-black;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    font-weight: bolder;
    background-color: $color-yellow;
    border-radius: 3px;
    border: none;
}