.footer{
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: $color-black-2;
  li{
    list-style: none;
  }
  .footer-heading{
    color: $color-white;
    font-size: $footer-heading-font-size;
    font-weight: 600;
  }

  .footer-text{
    font-size: $footer-paragraph-font-size;
    color: $color-grey;
  }
  .icons{
    margin-top: 10px;
    span{
      margin-right: 20px;
      img{
        width: 20px;
        height: 20px;
      }
    }
  }
  .copyright{
    padding-top: 50px;
  }
}

