.footer {
  background-color: $color-black-2;
  color: $color-grey-3;
  position: relative;
  width: 100%;
  height: auto;
}

.footer-padding-top {
  padding-top: 4rem;
}

.footer-explore {
  list-style: none;
}

