.navbar{
    background-color: $color-white;
    padding-top: $nav-padding-top;
    
    .exm-logo{
        width: 80px;
        height: auto;

    }
    .nav-link{
        color: $color-blue;
        font-size: $nav-link-font-size;
        font-weight: 550;
        margin-right: 20px;
    }
    .navbar-toggler{
        span{
            color: black
        }
    }
    
    @include respond(tab-port){
        display: none;
    }

    @media screen and (max-width: 995px) {
        display: none;
    }

}

.navbar-mobile{
    visibility: hidden;
    @media screen and (max-width: 995px) {
        visibility: visible;
    }
}
