.navbar{
    background-color: $color-white;
    padding-top: $nav-padding-top;
    .exm-logo{
        width: 300px;
    }
    .nav-link{
        color: $color-blue;
        font-size: $nav-link-font-size;
        font-weight: 550;
        margin-right: 20px;
    }

}







