a:hover{
    text-decoration: none;
}

.header{
    padding-top: $section-padding-top;
    background-color: $color-white;
}

.heading-one{
    font-size: $heading-one-font-size;
    font-weight: bold;
    color: $color-black;
}

.heading-two{
    font-size: $heading-two-font-size;
    font-weight: bold;
    color: $color-white;
}

.heading-three{
    font-size: $heading-three-font-size;
    font-weight: bold;
    color: $color-white;
}

.heading-four{
    font-size: $heading-four-font-size;
    font-weight: bold;
    color: $color-white;
}


.paragraph-one{
    color: $color-white;
    font-weight: 500;
    font-size: $paragraph-one-font-size
}

.paragraph-two{
    color: $color-black;
    font-weight: bold;
    font-size: $paragraph-two-font-size
}

.paragraph-three{
    color: $color-black-3;
    font-weight: 600;
    font-size: $paragraph-three-font-size
}

.paragraph-four{
    color: $color-white;
    font-weight: 600;
    font-size: $paragraph-four-font-size
}

.paragraph-five{
    color: $color-white;
    font-weight: 500;
    font-size: $paragraph-five-font-size
}

.underline{
    border-bottom: solid 10px $color-white;
    width: 200px;
    margin-top: -10px;
    box-sizing: border-box;
}
